.header{
  width: 100%;
  height: 10rem;
  background-image: url("https://res.cloudinary.com/lau2401/image/upload/v1647883841/job%20listing/bg-header-desktop_q7p7es.svg");
  background-color: var(--primary-color);

}